bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.bin
/.vs/ProjectEvaluation/restaurantns.projects.v9.bin
/.vs/ProjectEvaluation/restaurantns.strings.v9.bin
/.vs/ProjectEvaluation/restaurantns.metadata.v9.bin
*.vsidx
*.json
*.log
/.vs/Restaurantns/CopilotIndices/17.14.1204.46620/CodeChunks.db
/.vs/Restaurantns/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
/.vs/Restaurantns/v18/.suo
/.vs/Restaurantns/DesignTimeBuild/.dtbcache.v2
/.vs/Restaurants/v18/.suo
*.v2
*.testlog
*.db
*.db-shm
*.db-wal
*.suo
*.manifest
*.name
/.idea/.idea.Restaurants/.idea/indexLayout.xml
/.idea/.idea.Restaurants/.idea/misc.xml
/.idea/.idea.Restaurants/.idea/prettier.xml
/.idea/.idea.Restaurants/.idea/vcs.xml
/Restaurants.sln.DotSettings.user
*/.*
/.idea
